# Dataset folder
flickr30k/

# Test images
ui/test_images/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
source/clip_checkpoint_epoch_7.pt
source/clip_checkpoint_epoch_5.pt
source/clip_checkpoint_epoch_10.pt
source/clip_checkpoint_epoch_3.pt
source/clip_checkpoint_epoch_6.pt
source/clip_checkpoint_epoch_8.pt
source/clip_checkpoint_epoch_9.pt
source/clip_checkpoint_epoch_4.pt
source/clip_checkpoint_epoch_1.pt
source/clip_checkpoint_epoch_1.pt
